@model bell_Electronics.Models.UsersModel
@{
    ViewBag.Title = "UserDetails";
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}

@if (TempData["userSuss"] != null)
{
    <script src="~/Scripts/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script type="text/javascript">
     toastr.success('@TempData["userSuss"]');
    </script>
}


<div class="container mt-3">
    <div class="card shadow mb-4">
        <div class="card-header py-3 ">
            <h2 class="m-0 font-weight-bold text-primary" style="text-align:center">User Details</h2>
        </div>
        <div class="card-body">
            <div class="row justify-content-around">
                <div class="col-md-7 text-center">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.id)

                    <div class="row mt-3">
                        <div class="col-sm-3 col-md-4 col-5">
                            <h3 style="font-weight: bold;">Name</h3>
                        </div>
                        <div class="col-md-5 col-6">
                            <h4> @(Model.Name) </h4>
                        </div>
                    </div>
                    <hr style="border: 1px solid black;" />
                    <div class="row">
                        <div class="col-sm-3 col-md-4 col-5">
                            <h3 style="font-weight: bold;">Mobile</h3>
                        </div>
                        <div class="col-md-5 col-6">
                            <h4> @(Model.MobileNo) </h4>
                        </div>
                    </div>
                    <hr style="border: 1px solid black;" />

                    <div class="row">
                        <div class="col-sm-3 col-md-4 col-5">
                            <h3 style="font-weight: bold;">Email</h3>
                        </div>
                        <div class="col-md-5 col-6">
                            <h4> @(Model.Email) </h4>
                        </div>
                    </div>
                    <hr style="border: 1px solid black;" />

                    <div class="row">
                        <div class="col-sm-3 col-md-4 col-5">
                            <h3 style="font-weight: bold;">User Name  </h3>
                        </div>
                        <div class="col-md-5 col-6">
                            <h4> @(Model.UserName) </h4>
                        </div>
                    </div>
                    <hr style="border: 1px solid black;" />
                    <div class="row">
                        <div class="col-sm-3 col-md-4 col-5">
                            <h3 style="font-weight: bold;">Password </h3>
                        </div>
                        <div class="col-md-5 col-6">
                            <h4> @(Model.Password) </h4>
                        </div>
                    </div>
                    <hr style="border: 1px solid black;" />
                </div>
                <div class="col-md-5">
                    <div class="product-details">
                        <img src="https://cdn.dribbble.com/users/8619169/screenshots/16116886/media/a63d64bcccad878cb9dfdb9a9f6b6416.gif" style="width:100%" />
                    </div>
                </div>
            </div>
        </div>
        <dvi class="card-footer">
            <div class="row">
                <div class="col-md-6">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <a href="~//Customer/AllProductsView" class="btn btn-primary"> Back to home</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a class="btn btn-warning" href="~//UserPanel/UserEdit?id=@Model.UserName"> Edit User</a>
                    </div>
                </div>
            </div>
        </dvi>
    </div>
</div>






@*<div class="form-group">
        <p style="color:red">@ViewBag.error</p>
    </div>*@
